* {
    font-family: 'Century Gothic', Arial, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Century Gothic', Arial, sans-serif;
    background-color: #E6F0FF;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

header {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    padding: 20px;
}

.profile-btn {
    border: none;
}

.logo {
    font-size: 2em;
    font-weight: bold;
    color: #003366;
    flex-grow: 1;
    text-align: center;
}

.profile-link {
    margin-left: auto;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.profile-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

.search-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin: 20px 0;
}

.search-left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.search-input, .map-search {
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 20px;
    width: 300px;
}

.filter-btn {
    padding: 10px 20px;
    background-color: #003366;
    color: #FFFFFF;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.stats-btn {
    background-color: #003366;
    color: #FFFFFF;
    padding: 10px 20px;
    border: none;
    font-size: 1rem;
    margin-bottom: 20px;
    cursor: pointer;
    align-self: flex-start;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    flex-grow: 1; /* Заставляем main-content занимать оставшееся пространство */
}

.lake-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    width: 100%;
}

.lake-card {
    display: block; /* Чтобы <a> занимала всю карточку */
    background-color: #FFFFFF;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-decoration: none; /* Убираем подчеркивание у ссылок */
}

.lake-card:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.lake-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.lake-title {
    padding: 10px;
    font-size: 1rem;
    color: #003366;
    text-align: center;
}

.pagination {
    display: flex;
    gap: 10px;
    margin-top: auto; /* Прижимает пагинацию к низу, если main-content растягивается */
    padding-bottom: 20px; /* Добавьте немного отступа снизу для визуального пространства */
}

.pagination a {
    text-decoration: none;
    padding: 7px 10px;
    background-color: #003366;
    color: #FFFFFF;
    font-size: 1rem;
}

.pagination a:hover {
    background-color: #002244;
}

.page-link.active {
    font-weight: bold;
    color: #5f98d6; /* Синий цвет для выделенной страницы */
    background-color: #b6d7ff; /* Легкий фон для выделенной страницы */
    border-radius: 5px;
    padding: 5px 10px;
}
