<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LakeView</title>
    <link rel="stylesheet" href="/css/home_style.css">
</head>
<body>
    <div class="container">
        <h1 class="title">LakeView - Ваш проводник по озерам РФ!</h1>
        <div class="button-container">
            <button class="btn primary-btn" onclick="register()">Зарегистрироваться</button>
            <button class="btn primary-btn" onclick="login()">Войти</button>
            <button class="btn secondary-btn" onclick="continueWithoutRegister()">Продолжить без регистрации</button>
        </div>
    </div>

    <script>
        function register() {
            window.location.href = '/register';
        }

        function login() {
            window.location.href = '/login';
        }

        function continueWithoutRegister() {
            window.location.href = '/main';
        }
    </script>
</body>
</html>
